* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: "Nunito", sans-serif;
}

.new-tab {
  font-weight: 200;
  display: inline-block;
  transform: rotateY(180deg);
  letter-spacing: 1px;
}

h2 {
  font-weight: 600;
}

.line-project-section,
.line-contact-section {
  border: 2px solid #1fb3bb;
  height: 0;
  border-radius: 50px;
  box-shadow: 0px 0px 10px #308c91;
}

.line-project-section,
.line-contact-section {
  width: 60dvw;
  align-self: center;
}

body {
  background-color: #131b1b;
}

.banner {
  background: #283b3c;
  background: linear-gradient(
    32deg,
    rgba(40, 59, 60, 1) 20%,
    rgba(51, 99, 102, 1) 50%,
    rgba(48, 140, 145, 1) 75%,
    rgba(31, 179, 187, 1) 100%
  );
  width: 100dvw;
  height: 20dvh;

  /* test of position*/
  position: relative;

  display: flex;
}

h1 {
  display: inline-block;
  font-size: clamp(2rem, 2vw + 0.1rem, 3rem);
  justify-self: center;
  align-self: center;
  padding: 0.5rem;
  line-height: 2rem;
  height: fit-content;
}

/* section header */
header {
  position: relative;
}

.header-navbar ul {
  background-color: #1fb3bb;
  border-radius: 5px;
  box-shadow: 0px 0px 5px #fff;
  display: flex;
  justify-content: space-around;

  /* test of position*/
  position: fixed;
  bottom: 5%;
  left: 5%;
  /* mobile aparence*/
  width: 90dvw;
  height: 6dvh;
  z-index: 99;
}

.header-navbar ul li {
  width: 30dvw;
  border-radius: 0;
  border-right: 1px solid white;
  border-left: 1px solid white;
  box-shadow: 0 0 3px white;
}

.header-navbar ul li a {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  gap: 2px;
}

li a img {
  height: 100%;
}

.header-navbar ul li a span {
  color: #030303; /* mudar para ser mais especifico*/
}

li a span {
  color: #030303;
}

/* section main about*/

main {
  display: flex;
  flex-direction: column;
}

#about {
  position: relative;
  margin-bottom: 5rem;
}

.sub-about {
  width: 90dvw;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1rem;
}

.profile-foto {
  height: inherit;
  width: auto;
}

.about-text {
  font-size: clamp(1.1rem, 4vw + 0.1rem, 1.8rem);
  color: #00d3de;
  font-weight: 200;
  line-height: 1.7rem;
  text-align: center;
  margin: auto;
  margin-top: 1rem;
  padding: 0.5rem;

  background-color: #2b3333;
  border-radius: 5px;
  box-shadow: 0px 0px 10px #308c91;
}

.about-skills {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 1rem;
  color: #00d3de;
  font-weight: 200;
  text-align: center;
  margin: auto;
  padding-top: 1rem;
  width: 100%;
  height: 100%;
}

.tech-skills,
.soft-skills {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 0.2rem;
  border-bottom: 1px solid #00d3de;
  border-left: 1px solid #00d3de;
  border-radius: 6px;
  box-shadow: -1px 11px 6px #308c91;
  padding: 0.3rem;

  height: 50%;

  background-color: #2b3333;
  border-radius: 5px;
  box-shadow: 0px 0px 10px #308c91;
}

.tech-skills ul,
.soft-skills ul {
  display: flex;
  flex-wrap: wrap;
  gap: 0.3rem;
  justify-content: space-evenly;
  height: min-content;
}

.tech-skills ul li {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.2rem;
}

.tech-skills ul li img {
  height: 3dvh;
  width: auto;
}

/* section main projects*/

#projects {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 90%;
  margin: auto;
  margin-bottom: 5rem;
  padding-bottom: 2rem;

  background-color: #2b3333;
  border-radius: 5px;
  box-shadow: 0px 0px 10px white;
}

.projects-header {
  display: flex;
  height: 5dvh;
  align-items: center;
  gap: 1.5rem;
  padding: 2rem;

  background-color: #2b3333;
  border-radius: 5px;
  box-shadow: 0px 0px 10px white;
}

.projects-header h2 {
  color: #00d3de;
  font-size: clamp(1rem, 3vw + 1rem, 3rem);
  border-radius: 5px 0;
}

/* section cards projects*/

#projects ul {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 0.7rem;
  padding: 0 0.5rem 2rem;
}

.card-project {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 0.5rem;
  box-shadow: 0px 0px 8px #00d3de;
  border-radius: 4px;
  padding: 0.5rem 0;
  background-color: #2b3333;
  color: #00d3de;
}

.card-thumb {
  border-radius: 3px;
  box-shadow: 0px 0px 8px white;
  width: 80%;
  height: 150px;
}

.card-title {
  font-weight: 700;
  border-bottom: 2px solid white;
  width: 100%;
  text-align: center;
  border-radius: 3px;
  padding: 0.2rem;
}

.card-description {
  width: 100%;
  text-align: center;
  padding: 0.2rem;
}

.card-links {
  width: 50%;
  display: flex;
  justify-content: space-evenly;
  gap: 0.5rem;
  padding: 0.5rem;
  border-top: 1px solid white;
  width: 100%;
}

.card-links a {
  color: #030303;
  box-shadow: 0px 0px 5px white;
  background-color: #1fb3bb;
  padding: 0.3rem;
  border-radius: 5px;
}

/* section main contact */

#contact {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-bottom: 5rem;
  width: 90%;
  margin: auto;

  background-color: #2b3333;
  border-radius: 5px;
  box-shadow: 0px 0px 10px white;
}

#contact p {
  font-size: clamp(1rem, 1.5rem, 2rem);
  color: #00d3de;
  width: 90%;
  margin: auto;
  font-weight: 700;
  line-height: 1.7rem;
  text-align: center;
}

.contact-card-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 2rem;
  width: 90%;
  margin: auto;
  padding: 0.5rem;
}

.contact-card-list {
  margin-bottom: 2rem;
}

.card-contact {
  display: flex;
  padding: 0.7rem;
  gap: 2rem;
  border-radius: 5px;

  background-color: #1fb3bb;
  box-shadow: 0px 0px 5px white;
}

.card-contact div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.card-contact div span:first-child {
  font-weight: 500;
  font-size: 1.5rem;
}

/* SVG STYLES */

.linkedin,
.github,
.gmail,
.whatsapp {
  width: 4.5rem;
  height: auto;
  background: white;
  border-radius: 100%;
  box-shadow: 0 0 10px #283b3c;
}

.linkedin path {
  fill: #0e76a8;
}

/* footer */

footer {
  display: none;
}

/* media query section */
@media screen and (min-width: 660px) {
  .header-navbar ul {
    top: 6%;
    left: 58%;
    width: 40dvw;
    height: 6dvh;
  }

  h1 {
    width: 30dvw;
    height: auto;
    left: 22%;
    width: 35dvw;
    border-radius: 5px;
    margin-left: 0.5rem;
    text-shadow: 0 0 10px #00d3de;
    color: #131b1b;
  }

  h1 span {
    text-shadow: 0 0 10px #fff;
    color: #131b1b;
  }
}
