* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

.line-about-section {
    border: 2px solid #1FB3BB;
    width: 80%;
    margin: auto;
    border-radius: 50px;
    box-shadow: 0px 0px 10px #308C91;
}

body {
    background-color: #2B3333;
}

.banner {
    background: #283B3C;
    background: linear-gradient(32deg, rgba(40, 59, 60, 1) 20%, rgba(51, 99, 102, 1) 50%, rgba(48, 140, 145, 1) 75%, rgba(31, 179, 187, 1) 100%);
    width: 100dvw;
    height: 15dvh; /* change for desktop version */

    /* test of position*/
    position: absolute;
    top: 0;
    left: 0;
}

/* section header */
header {
    position: relative;
}

.header-navbar ul {
    background-color: #1FB3BB;
    border-radius: 10px;
    box-shadow: 0px 0px 10px #308C91;
    display: flex;
    justify-content: space-around;

    /* test of position*/
    position: fixed;
    bottom: 5%;
    left: 5%;
    /* mobile aparence*/
    width: 90dvw;
    height: 6dvh;

}

.header-navbar ul li{
    width: 30%;
    background: #308c912d;
    border-radius: 5px;
}

.header-navbar ul li a {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    gap: 2px;
}

li a img{
    height: 100%;
}

li a span {
    color: #030303;
}

/* section main about*/

#about {
    position: relative;
    display: flex;
    flex-direction: column;
}

.profile-foto {
    position: absolute;
    top: -5%;
    left: 5%;
    width: 20%;
}

.about-text {
    position: relative;
    
}

/* media query section */
@media screen and (min-width: 660px) {
    .header-navbar ul {
        top: 5%;
        left: 50%;
        width: 45dvw;
        height: 7dvh;
    }
}

@media screen and (min-width: 992px) {
    .header-navbar ul {
        top: 5%;
        left: 50%;
        width: 45dvw;
        height: 5dvh;
    }
}

@media screen and (min-width: 1200px) {
    .header-navbar ul {
        top: 5%;
        left: 50%;
        width: 45dvw;
        height: 5dvh;
    }
}