* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: "Nunito", sans-serif;
}

.new-tab {
  font-weight: 200;
  display: inline-block;
  transform: rotateY(180deg);
}

h2 {
  font-weight: 600;
}

.line-about-section,
.line-project-section,
.line-contact-section {
  border: 2px solid #1fb3bb;
  width: 90%;
  height: 0;
  border-radius: 50px;
  box-shadow: 0px 0px 10px #308c91;
  position: relative;
}

.line-project-section,
.line-contact-section {
  width: 60%;
  align-self: flex-end;
}

body {
  background-color: #2b3333;
}

.banner {
  background: #283b3c;
  background: linear-gradient(
    32deg,
    rgba(40, 59, 60, 1) 20%,
    rgba(51, 99, 102, 1) 50%,
    rgba(48, 140, 145, 1) 75%,
    rgba(31, 179, 187, 1) 100%
  );
  width: 100dvw;
  height: 6rem; /* change for desktop version */

  /* test of position*/
  position: absolute;
  top: 0;
  left: 0;
}

/* section header */
header {
  position: relative;
}

.header-navbar ul {
  background-color: #1fb3bb;
  border-radius: 10px;
  box-shadow: 0px 0px 10px #308c91;
  display: flex;
  justify-content: space-around;

  /* test of position*/
  position: fixed;
  bottom: 5%;
  left: 5%;
  /* mobile aparence*/
  width: 90dvw;
  height: 6dvh;
  z-index: 99;
}

.header-navbar ul li {
  width: 30%;
  background: #308c912d;
  border-radius: 5px;
}

.header-navbar ul li a {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  gap: 2px;
}

li a img {
  height: 100%;
}

li a span {
  color: #030303;
}

/* section main about*/

#about {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding-left: 1rem;
  margin-bottom: 2rem;
}

.profile-foto {
  position: relative;
  top: 0.5rem;
  height: 5.5rem;
  width: 4rem;
}

.about-text {
  position: relative;
  width: 90%;
  font-size: 1.1rem;
  color: #00d3de;
  font-weight: 200;
  line-height: 1.7rem;
  text-align: center;
}

.about-skills {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 90%;
  gap: 1rem;
  color: #00d3de;
  font-weight: 200;
  text-align: center;
}

.tech-skills,
.soft-skills {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.2rem;
  border-bottom: 1px solid #00d3de;
  border-left: 1px solid #00d3de;
  border-radius: 6px;
  box-shadow: -1px 11px 6px #308c91;
  padding: 0.3rem;
}

.tech-skills ul,
.soft-skills ul {
  display: flex;
  flex-wrap: wrap;
  gap: 0.3rem;
  justify-content: space-evenly;
  width: 12rem;
}

.tech-skills ul li {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.2rem;
}

.tech-skills ul li img {
  width: 1.8rem;
}

/* section main projects*/

#projects {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding-left: 1rem;
  margin-bottom: 2rem;
}

.projects-header {
  display: flex;
  height: 5dvh;
  align-items: center;
  gap: 0.5rem;
}

.projects-header h2 {
  border-top: 1px solid #308c91;
  border-left: 1px solid #308c91;
  border-radius: 5px 0;
  box-shadow: -5px -6px 3px #308c91;
}

/* section cards projects*/

#projects ul {
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
}

.card-project {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 95%;
  gap: 0.5rem;
  box-shadow: 0px 0px 8px #0092e6;
  border-radius: 4px;
  padding: 0.5rem;
  background-color: #009199;
}

.card-thumb {
  border: 1px solid red;
  width: 80%;
}

.card-title {
  font-weight: 700;
  box-shadow: 0px 6px 5px #00d3de;
  width: 100%;
  text-align: center;
  border-radius: 50%;
  padding: 0.2rem;
}

.card-description {
  width: 100%;
  text-align: center;
  padding: 0.2rem;
}

.card-links {
  width: 50%;
  display: flex;
  justify-content: space-evenly;
  gap: 0.5rem;
  padding: 0.5rem;
  box-shadow: 0px -6px 5px #00d3de;
  width: 100%;
  border-radius: 50%;
}

.card-links a {
  color: #030303;
  box-shadow: 2px 2px 10px #308c91;
  border-bottom: 1px solid #1fb3bb;
  border-right: 1px solid #1fb3bb;
  padding: 0.3rem;
  border-radius: 5px;
}

/* section main contact */

#contact {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding-left: 1rem;
  margin-bottom: 8rem;
}

#contact p {
  font-size: 1.1rem;
  color: #00d3de;
  font-weight: 200;
  line-height: 1.7rem;
  text-align: center;
}

.contact-card-list {
  display: flex;
  gap: 1rem;
  flex-direction: column;
  width: 70dvw;
  margin: auto;
  padding: 0.5rem;
}

.contact-card-list {
  margin-bottom: 2rem;
}

.card-contact {
  display: flex;
  padding: 0.7rem;
  gap: 2rem;
  border-radius: 5px;

  background: #283b3c;
  background: linear-gradient(
    32deg,
    rgba(40, 59, 60, 1) 20%,
    rgba(51, 99, 102, 1) 50%,
    rgba(48, 140, 145, 1) 75%,
    rgba(31, 179, 187, 1) 100%
  );
}

.card-contact div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.card-contact div span:first-child {
  font-weight: 500;
  font-size: 1.5rem;
}

/* SVG STYLES */

.linkedin,
.github,
.gmail,
.whatsapp {
  width: 4.5rem;
  height: auto;
  background: white;
  border-radius: 100%;
  box-shadow: 0 0 5px white;
}

.linkedin path {
  fill: #0e76a8;
}

/* footer */

footer {
  display: none;
}

/* media query section */
@media screen and (min-width: 660px) {
  .header-navbar ul {
    top: 5%;
    left: 50%;
    width: 45dvw;
    height: 7dvh;
  }
}

@media screen and (min-width: 992px) {
  .header-navbar ul {
    top: 5%;
    left: 50%;
    width: 45dvw;
    height: 5dvh;
  }
}

@media screen and (min-width: 1200px) {
  .header-navbar ul {
    top: 5%;
    left: 50%;
    width: 45dvw;
    height: 5dvh;
  }
}
